{% extends 'base.html' %}
{% load static %}
{% block title %}ЧИСТО-ЧИСТО | Клининг{% endblock title %}
{% block canonical %}
    <link rel="canonical" href="{% url 'index' %}">
{% endblock canonical %}
{% block content %}
    <style>
        .services-section {
            padding-bottom: 2px;
        }

        .gallery {
            text-align: center;
            margin-top: 20px;
        }

        .image img {
            width: 350px;
            height: 250px;
            object-fit: cover;
            cursor: pointer;
        }

        .overlay {
            display: none;
            position: fixed;
            z-index: 999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            overflow: auto;
        }

        .modal-video-controler {
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 999;
            top: 30%;
            left: 0;
        }

        .overlay-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .overlay img {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 800px;
        }

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 30px;
            cursor: pointer;
            color: #fff;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            overflow: auto;
        }

        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #fff;
            font-size: 40px;
            font-weight: bold;
            cursor: pointer;
        }


        @media screen and (max-width: 277px) and (max-height: 693px) {
            .amir {
                position: absolute !important;
                top: 10% !important;;
                left: 50% !important;;
                transform: translateX(-50%) !important;;
            }

            .amir img {
                width: 170px !important;
            }
        }
    </style>
    <div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/zaq.png' %});"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
                 data-scrollax-parent="true">
                <div class="col-md-6 ftco-animate amir">
                    <img src="{% static 'images/sticker.webp' %}" style="width: 230px; margin-bottom: 30px"
                         alt="Логотип">
                    <h1 class="mb-4"
                        style="font-family: 'Sree Krushnadevaraya',serif; font-size: xxx-large; color: #ffbc37;">
                        Убираем чисто и честно!</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb">
        <div class="overlay"></div>
        <div class="container">
            <div class="row d-md-flex justify-content-center">
                <div class="col-md-12">
                    <div class="wrap-appointment bg-white d-md-flex pl-md-4 pb-5 pb-md-0">
                        <h2 style="margin-left: 20px">У нас <strong style="color: #ffbc37">ПРЕДЗАПИСЬ</strong></h2>
                        <form action="/" class="appointment w-100" method="post">
                            {% csrf_token %}
                            <div class="row justify-content-center">
                                <div class="col-12 col-md d-flex align-items-center pt-4 pt-md-0">
                                    <div class="form-group py-md-4 py-2 px-4 px-md-0">
                                        <label for="name" style="color: #ffbc37">Имя</label>
                                        <input type="text" class="form-control" placeholder="Ваше имя"
                                               name="first_name">
                                    </div>
                                </div>
                                <div class="col-12 col-md d-flex align-items-center pt-4 pt-md-0">
                                    <div class="form-group py-md-4 py-2 px-4 px-md-0">
                                        <label for="name" style="color: #ffbc37">Фамилия</label>
                                        <input type="text" class="form-control" placeholder="Ваша фамилия"
                                               name="last_name">
                                    </div>
                                </div>
                                <div class="col-12 col-md d-flex align-items-center">
                                    <div class="form-group py-md-4 py-2 px-4 px-md-0">
                                        <label for="name" style="color: #ffbc37">Номер телефона</label>
                                        <input type="text" class="form-control" placeholder="Ваш номер телефона"
                                               name="phone_number">
                                    </div>
                                </div>
                                <div class="col-12 col-md d-flex align-items-center align-items-stretch">
                                    <div class="form-group py-md-4 py-2 px-4 px-md-0 d-flex align-items-stretch"
                                         style="background-color: #399432">
                                        <input type="submit" value="Оставить заявку" class="btn btn-primary py-3 px-4"
                                               style="background-color: #399432; border-color: #399432">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </section>
    <!------------------------------    ------------------------------------->
    <section class="ftco-section" style="margin-top: -50px; margin-bottom: -50px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 services ftco-animate text-center">
                <div class="d-block">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <img src="{% static 'images/danger.webp' %}" style="height: auto; max-width: 100%;" alt="Опасность картинка">
                    </div>
                    <div class="media-body mt-3">
                        <h3 class="heading">Не убираем квартиры с тараканами и после дезинсекции!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row d-flex no-gutters">
                <div class="col-md-6 d-flex">
                    <div class="img d-flex align-items-center justify-content-center py-5 py-md-0"
                         style="background-image:url({{ about.image.url }});">
                    </div>
                </div>
                <div class="col-md-6 pl-md-5 pt-md-5">
                    <div class="row justify-content-start py-5">
                        <div class="col-md-12 heading-section ftco-animate">
                            <span class="subheading" style="color: #399432">Клининговая компания «Чисто-Чисто»</span>
                            <h2 class="mb-4">{{ about.title }}</h2>
                            <p>
                                {% for paragraph in description %}
                                    {{ paragraph }}<br>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    <div class="row ftco-counter py-5" id="section-counter" style="background-color: #ffbc37">
                        <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="{{ about.years }}"></strong>
                                    <span>лет <br>в клининге</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="{{ about.clients }}">0</strong>
                                    <span>Довольных <br>Клиентов</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18">
                                <div class="text">
                                    <strong class="number" data-number="{{ about.objec }}">0</strong>
                                    <span>чистых <br>объектов</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pb">
        <div class="container">
            <div class="row justify-content-center pb-5 mb-3">
                <div class="col-md-12 heading-section  text-center ftco-animate">
                    <span class="subheading" style="color: #399432">Отзывы</span>
                    <h2>Мы выполнили много проектов по уборке</h2>
                </div>
            </div>
            <div class="row">
                {% for rev in reviews %}
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="work video d-flex align-items-center">
                            <video width="100%" height="auto" controls style="display: none;" id="video-{{ rev.id }}"
                                   class="review">
                                <source src="{{ rev.file.url }}" type="video/mp4">
                                Ваш браузер не поддерживает видео.
                            </video>
                            <video width="100%" height="auto" controls>
                                <source src="{{ rev.file.url }}" type="video/mp4">
                                Ваш браузер не поддерживает видео.
                            </video>
                            <a href="#" class="icon video-popup d-flex justify-content-center align-items-center"
                               onclick="return playVideo('{{ rev.id }}')">
                                <span class="fa fa-play"></span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    {% for rev in reviews %}
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="work video d-flex align-items-center">
                                <video width="100%" height="auto" controls style="display: none;"
                                       id="video-{{ rev.id }}"
                                       class="review">
                                    <source src="{{ rev.file.url }}" type="video/mp4">
                                    Ваш браузер не поддерживает видео.
                                </video>
                                <video width="100%" height="auto" controls>
                                    <source src="{{ rev.file.url }}" type="video/mp4">
                                    Ваш браузер не поддерживает видео.
                                </video>
                                <a href="#" class="icon video-popup d-flex justify-content-center align-items-center"
                                   onclick="return playVideo('{{ rev.id }}')">
                                    <span class="fa fa-play"></span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                    <div id="modal" class="modal">
                        <div class="modal-video-controler">
                            <video id="modal-video" width="100%" controls style="height: 50vh;"></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function playVideo(revid) {
            const video = document.getElementById(`video-${revid}`)
            const modal = document.getElementById('modal')
            const modalVideo = document.getElementById('modal-video')

            modal.style.display = 'block'
            modalVideo.src = video.querySelector('source').src
            modalVideo.play()

            modal.onclick = function () {
                modal.style.display = 'none'
                modalVideo.pause()
            }

            return false
        }

    </script>

    <section class="ftco-section services-section">
        <div class="container">
            <div class="row justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading"></span>
                    <h2>Наши услуги</h2>
                </div>
            </div>
            <div class="row d-flex" style="display: flex; justify-content: space-evenly;">
                {% for ser in services %}
                    <div class="col-md-6 col-lg-4 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch">
                            <a class="block-20 rounded" style="background-image: url({{ ser.image.url }});"></a>
                            <div class="text mt-3 px-4">
                                <div class="posted mb-3 d-flex">
                                    <div class="desc pl-3">
                                        <span style="color: #399432">{{ ser.category }}</span>
                                    </div>
                                </div>
                                <h3 class="heading"><a href="#">{{ ser.title }}</a></h3>
                                <div class="service-description">
                                    <p>{{ ser.description | truncatewords_html:20 }}</p>
                                    <p class="service-description-full" style="display: none;">{{ ser.description }}</p>
                                </div>
                                <button class="show-more-btn btn btn-green">Показать больше</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <style>
        .btn-green {
            background-color: #399432;
            border-color: #399432;
            color: #ffffff;
        }

        .btn-green:hover {
            background-color: #ffbc37;
            border-color: #ffbc37;
            color: #000000;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const showMoreBtns = document.querySelectorAll('.show-more-btn')

            showMoreBtns.forEach((btn) => {
                btn.addEventListener('click', function () {
                    const description = this.parentElement.querySelector('.service-description-full')

                    if (description.style.display === 'none' || description.style.display === '') {
                        description.style.display = 'block'
                        this.textContent = 'Скрыть'
                    } else {
                        description.style.display = 'none'
                        this.textContent = 'Показать больше'
                    }
                })
            })
        });
    </script>

    <section class="ftco-section services-section">
        <div class="container">
            <div class="row justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <span class="subheading"></span>
                    <h2>До | После</h2>
                </div>
            </div>
        </div>
        <div class="gallery row">
            {% for gal in gallery %}
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-4 image">
                    <img src="{{ gal.image.url }}" alt="Фото галерии" class="img-fluid">
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <a href="{% url 'list_gallery' %}">
                    <button class="btn btn-green">Ещё</button>
                </a>
            </div>
        </div>
        <div id="overlay" class="overlay">
            <span class="close">&times;</span>
            <div class="overlay-content">
                <img id="expandedImg" style="width:100%" alt="картинка для закрывания">
            </div>
        </div>
    </section>



    <section class="ftco-section" style="background-image: url({% static 'images/02.jpg' %});
            background-repeat: no-repeat;
            background-size: cover;" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
            </div>
        </div>
    </section>

    <!-- Добавление JSON-LD разметки -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "LocalBusiness",
            "name": "ЧИСТО-ЧИСТО",
            "description": "Клининговая компания, предоставляющая высококачественные услуги по уборке.",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Улица, номер",
                "addressLocality": "Город",
                "postalCode": "Индекс",
                "addressCountry": "Страна"
            },
            "telephone": "+996 550 410 995",
            "contactPoint": [
                {
                    "@type": "ContactPoint",
                    "telephone": "+996 705 410 995" // Дополнительный номер телефона
                }
            ],
            "openingHours": "Mo-Su 08:00-20:00"
        }
    </script>

{% endblock content %}