{% extends 'base.html' %}
{% load static %}
{% block title %}До | После{% endblock title %}
{% block content %}
<style>
    .video-container {
        position: relative;
        padding-bottom: 100%; /*56.25%;*/
        overflow: hidden;
        max-width: 100%;
    }
    .video-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<section id="portfolio" class="portfolio section-bg" style="margin-top: 100px;">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading"></span>
                <h2>Мы выполнили много проектов по уборке</h2>
            </div>
        </div>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
            {% for gal in gallery %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <img src="{{ gal.image.url }}" alt="Фотография на странице галереии" class="img-fluid">
            </div>
            {% endfor %}
            {% for vid in video %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="video-container">
                        <video controls>
                            <source src="{{ vid.file.url }}" type="video/mp4">
                            Ваш браузер не поддерживает видео.
                        </video>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}