{% load static %}
<div class="wrap" style="background-color: #399432">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md d-flex align-items-center">
                <p class="mb-0 phone"><span class="mailus">Позвонить:</span>{% for p in phone %}<a href="tel:{{ p.phone_number }}"> {{ p.phone_number }} </a>{% endfor %}
            </div>
            <div class="col-12 col-md d-flex justify-content-md-end">
                <div class="social-media">
                    <p class="mb-0 d-flex">
                        {% for con in contact %}
                        <a href="{{ con.instagram }}" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                        {% endfor %}
                        {% for con in contact %}
                        <a href="{{ con.whatsapp }}" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-whatsapp"><i class="sr-only">WhatsApp</i></span></a>
                        {% endfor %}
                        {% for con in contact %}
                        <a href="{{ con.telegram }}" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-telegram"><i class="sr-only">Telegram</i></span></a>
                        {% endfor %}
                        {% for con in contact %}
                        <a href="{{ con.tiktok }}" class="d-flex align-items-center justify-content-center"><span
                                class="fa-brands fa-tiktok"><i class="sr-only">Tiktok</i></span></a>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container" style="margin-bottom: 20px; margin-top: 20px; display: flex; justify-content: center;">
        <a class="navbar-brand" href="{% url 'index' %}">CHISTO-<span style="color: #ffc446;">CHISTO.kg</span></a>
    </div>
</nav>